<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ category }}
      </h1>
    </div>
  </div>
</section>
<div class="tabs is-centered">
  <ul>
    <li
      [class.is-active]="activeTab === 'groups'"
      (click)="activateTab('groups')"
    >
      <a>Groups</a>
    </li>
    <li
      [class.is-active]="activeTab === 'events'"
      (click)="activateTab('events')"
    >
      <a>Events</a>
    </li>
  </ul>
</div>
<section class="section" *ngIf="activeTab === 'events'">
  <h4 class="title is-5 " *ngIf="!events.length">
    No events found
  </h4>
  <app-events-container [events]="events"></app-events-container>
</section>

<section class="section" *ngIf="activeTab === 'groups'">
  <h4 class="title is-5 " *ngIf="!groups.length">
    No groups found
  </h4>
  <app-groups-container [groups]="groups"></app-groups-container>
</section>
