@import '../../../styles/modules/variables';
@import '../../../styles/modules/_mediaQueries.scss';

.hero {
  width: 100vw;
  height: 70vh;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-gap: 1rem;
  padding: 1rem;
  background: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)),
    url(../../../assets/hero-image.jpg) center no-repeat;
  background-size: cover;
  &__title {
    font-size: 2rem;
    color: $white;
    text-align: center;
  }
  &__subtitle {
    font-size: 1rem;
    color: $light;
    text-align: center;
  }
  &__button {
    margin-top: 3.5rem;
    background: $primary;
    border: none;
    padding: 0.5rem 2rem;
    color: $white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.5rem;
    &:hover {
      background: lighten($primary, 5%);
    }
  }
}
