@import '../../../styles/modules/variables';
@import '../../../styles/modules/mixins';
@import '../../../styles/modules/mediaQueries';

.events-container {
  display: grid;
  grid-gap: 1rem;
  overflow-x: scroll;
  grid-template-columns: repeat(3, minmax(20rem, auto));
  grid-auto-rows: max-content;
  @include lg {
    overflow-x: hidden;
    grid-template-columns: repeat(4, 1fr);
  }
}
