<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{ group.imageUrl }}" alt="{{ group.name }} image" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ group.name }}</p>
        <p class="subtitle is-6">Category: {{ group.category }}</p>
        <p class="subtitle is-6">Location: {{ group.location }}</p>
      </div>
    </div>

    <div class="content">
      {{ group.description }}
      <a routerLink="groups/{{ group.id }}" routerLinkActive="is-active"
        >Learn More</a
      >
    </div>
  </div>
</div>
