<label>
  Email:
  <input type="email" formControlName="email" />
  <!-- <div *ngIf="signUpForm.email.errors.required">Password is required</div>
  <div *ngIf="signUpForm.email.errors.minlength">
    Password must be at least 6 characters
  </div> -->
</label>
<label>
  Username:
  <input type="email" formControlName="email" />
  <!-- <div *ngIf="signUpForm.email.errors.required">Password is required</div>
  <div *ngIf="signUpForm.email.errors.minlength">
    Password must be at least 6 characters
  </div> -->
</label>

<div formGroupName="passwords">
  <label>
    Password:
    <input type="password" formControlName="password" />
    <!-- <div *ngIf="signUpForm.password.errors.required">Password is required</div>
  <div *ngIf="signUpForm.password.errors.minlength">
    Password must be at least 6 characters
  </div> -->
  </label>

  <label>
    Password:
    <input type="password" formControlName="confirmPassword" />
    <!-- <div *ngIf="signUpForm.password.errors.required">Password is required</div>
  <div *ngIf="signUpForm.password.errors.minlength">
    Password must be at least 6 characters
  </div> -->
  </label>
</div>
