<section class="form-section">
  <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form__field">
      <label class="form__field__label">Username</label>
      <input
        class="form__field__input"
        type="text"
        formControlName="username"
        placeholder="Enter an Username"
      />
      <div
        *ngIf="
          signUpForm.controls['username'].invalid &&
          (signUpForm.controls['username'].dirty ||
            signUpForm.controls['username'].touched)
        "
      >
        <label
          *ngIf="signUpForm.get('username').hasError('required')"
          class="form__field__label error"
          >Username is Required</label
        >
        <label
          *ngIf="signUpForm.get('username').hasError('minlength')"
          class="form__field__label error"
          >Must be at least 4 characters</label
        >
      </div>
    </div>

    <div class="form__field">
      <label class="form__field__label">Email</label>
      <input
        class="form__field__input"
        type="email"
        formControlName="email"
        placeholder="Enter an email address"
      />
      <div
        *ngIf="
          signUpForm.controls['email'].invalid &&
          (signUpForm.controls['email'].dirty ||
            signUpForm.controls['email'].touched)
        "
      >
        <label
          *ngIf="signUpForm.get('email').hasError('required')"
          class="form__field__label error"
          >Email is Required</label
        >
        <label
          *ngIf="signUpForm.get('email').hasError('email')"
          class="form__field__label error"
          >Must be a valid email</label
        >
      </div>
    </div>

    <div class="subgroup" formGroupName="passwords">
      <div class="form__field">
        <label class="form__field__label">Password</label>
        <input
          class="form__field__input"
          type="password"
          formControlName="password"
          placeholder="Enter a Password"
        />
        <div
          *ngIf="
            signUpForm.controls.passwords.controls['password'].invalid &&
            (signUpForm.controls.passwords.controls['password'].dirty ||
              signUpForm.controls.passwords.controls['password'].touched)
          "
        >
          <label
            *ngIf="
              signUpForm.controls.passwords.get('password').hasError('required')
            "
            class="form__field__label error"
            >Password is Required</label
          >
          <label
            *ngIf="
              signUpForm.controls.passwords
                .get('password')
                .hasError('minlength')
            "
            class="form__field__label error"
            >Must be at least 12 characters</label
          >
        </div>
      </div>

      <div class="form__field">
        <label class="form__field__label">Repeat Password</label>
        <input
          class="form__field__input"
          type="password"
          formControlName="confirmPassword"
          placeholder="Enter a Password"
        />
        <div
          *ngIf="
            signUpForm.controls.passwords.controls['password'].invalid &&
            (signUpForm.controls.passwords.controls['password'].dirty ||
              signUpForm.controls.passwords.controls['password'].touched)
          "
        >
          <label
            *ngIf="
              signUpForm.controls.passwords
                .get('confirmPassword')
                .hasError('required')
            "
            class="form__field__label error"
            >Password is Required</label
          >
        </div>
        <label
          *ngIf="signUpForm.controls.passwords?.errors?.confirmPassword"
          class="form__field__label error"
          >Passwords must match</label
        >
      </div>
    </div>

    <button class="form__button">Sign Up</button>
  </form>
</section>
