<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../../../assets/logo-primary.svg" />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="toggleMobileNav()"
      [class.is-active]="isMobileNavActive"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarBasicExample"
    class="navbar-menu"
    [class.is-active]="isMobileNavActive"
  >
    <div class="navbar-start">
      <a
        class="navbar-item"
        routerLink=""
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
      <a class="navbar-item" routerLink="events" routerLinkActive="is-active">
        Events
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <ng-container *ngIf="isAuth">
            <a class="button" (click)="logout()" (click)="toggleMobileNav()">
              Log Out
            </a>
            <a
              class="button"
              routerLink="create/event"
              routerLinkActive="is-active"
              (click)="toggleMobileNav()"
            >
              Create Event
            </a>
          </ng-container>

          <ng-container *ngIf="!isAuth">
            <a
              class="button"
              routerLink="login"
              routerLinkActive="is-active"
              (click)="toggleMobileNav()"
            >
              Login
            </a>
            <a
              class="button"
              routerLink="sign-up"
              routerLinkActive="is-active"
              (click)="toggleMobileNav()"
            >
              Sign Up
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>
