<section class="section container is-centered box">
  <form class="section" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input
          class="input"
          type="text"
          formControlName="name"
          placeholder="Enter a name"
        />
      </div>
      <div
        *ngIf="
          eventForm.controls['name'].invalid &&
          (eventForm.controls['name'].dirty ||
            eventForm.controls['name'].touched)
        "
      >
        <p
          *ngIf="eventForm.get('name').hasError('required')"
          class="help is-danger"
        >
          Name is Required
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <input
          class="input"
          type="text"
          formControlName="description"
          placeholder="Enter a description"
        />
      </div>
      <div
        *ngIf="
          eventForm.controls['description'].invalid &&
          (eventForm.controls['description'].dirty ||
            eventForm.controls['description'].touched)
        "
      >
        <p
          *ngIf="eventForm.get('description').hasError('required')"
          class="help is-danger"
        >
          Description is Required
        </p>
        <p
          *ngIf="eventForm.get('description').hasError('minlength')"
          class="help is-danger"
        >
          Description must be at least 10 characters long
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Location</label>
      <div class="control">
        <input
          class="input"
          type="text"
          formControlName="location"
          placeholder="Enter a location"
        />
      </div>
      <div
        *ngIf="
          eventForm.controls['location'].invalid &&
          (eventForm.controls['location'].dirty ||
            eventForm.controls['location'].touched)
        "
      >
        <p
          *ngIf="eventForm.get('location').hasError('required')"
          class="help is-danger"
        >
          Location is Required
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Category</label>
      <div class="control">
        <div class="select">
          <select formControlName="category">
            <option *ngFor="let category of categories">{{ category }}</option>
          </select>
        </div>
      </div>
      <div
        *ngIf="
          eventForm.controls['category'].invalid &&
          (eventForm.controls['category'].dirty ||
            eventForm.controls['category'].touched)
        "
      >
        <p
          *ngIf="eventForm.get('category').hasError('required')"
          class="help is-danger"
        >
          Category is Required
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Date</label>
      <div class="control">
        <input class="input" type="date" formControlName="date" />
      </div>
      <div
        *ngIf="
          eventForm.controls['date'].invalid &&
          (eventForm.controls['date'].dirty ||
            eventForm.controls['date'].touched)
        "
      >
        <p
          *ngIf="eventForm.get('date').hasError('required')"
          class="help is-danger"
        >
          Date is Required
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Time</label>
      <div class="control">
        <input type="time" formControlName="time" class="input" />
      </div>
      <div
        *ngIf="
          eventForm.controls['time'].invalid &&
          (eventForm.controls['time'].dirty ||
            eventForm.controls['time'].touched)
        "
      >
        <label
          *ngIf="eventForm.get('time').hasError('required')"
          class="help is-danger"
          >Time is Required</label
        >
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>
  </form>
</section>
