@import './styles/modules/_variables.scss';
@import './styles/modules/_mixins.scss';
@import './styles/modules/_mediaQueries.scss';
@import './styles/partials/form.scss';
@import './styles/partials/section.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-size: $font-size;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $dark;
}
